## Get Dummy Variables | Cosmic Object Classification

We want to figure out a way to predict whether a celestial object is a galaxy, star, or quasar.. but first we're going to need some dummys

#### Import Libraries & Setup Engines

In [5]:
from datetime import datetime as dt
import pandas as pd
import sqlalchemy as sql

sql_engine = sql.create_engine('mssql+pyodbc://@localhost')

#### Read SQL table
We are going to take a look at a dataset from the Sloan Digital Sky Survey that I've actually never seen before

In [7]:
table = 'STAR_CLASSIFICATION'

query = f"SELECT * FROM {table}"
df = pd.read_sql_query(query, sql_engine, index_col='obj_ID')
df.head()

,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
obj_ID,,,,,,,,,,,,,,,,,
1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842

#### Use Pandas' get_dummies() function to get 3 dummy variables for each type of object
We want to keep the 'class' column for easier visualization later

In [10]:
df.loc[:,'class_dum'] = df['class']
df = pd.get_dummies(df, columns=['class_dum'], prefix='', prefix_sep='')
df.head()

,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID,GALAXY,QSO,STAR
obj_ID,,,,,,,,,,,,,,,,,,,,
1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171,1,0,0
1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427,1,0,0
1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299,1,0,0
1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775,1,0,0
1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842,1,0,0

#### Let's write the table back to SQL for now
Check out the **feature_selection** notebook in the **explore_data** folder for more

In [11]:
sql_engine.execute(f'DROP TABLE IF EXISTS {table}') 
df.to_sql(table, sql_engine) 
print('Completed: %s' % dt.now().strftime('%m/%d %H:%M\n'))

Completed: 03/18 21:32